@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
    background-color: #F8EFBA;
    font-family: 'NanumSquare';
}
button{
    border: 0;
    background-color: transparent;
}
button:active{
    box-shadow: 1px 1px 1px lightslategray;
}
button:hover{
    background-color: #f6e57c;
    border-radius: 80px;
}

.wrapper{
    min-height: 97dvh; /* 수직 가운데 정렬 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}
.container{
    width: 60%;
    /* height: 500px; */
}
.start{  
    height: 150px;
    margin: 175px 0;  
    background-color: #fff;
    border-radius: 80px;
}
.startBtn{
    font-size: 30px;
    width: 100%;
    height: 100%;
}
.remain{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}
.quiz{
    text-align: center;
}
.quiz img{
    width: 70%;
    height: 100%;
}
.choice{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    text-align: center;
    padding: 20px 80px;
}
.nextBtn{
    text-align: center;
}
.nextBtn button{
    font-size: 16px;
    width: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}
.result{
    border: 1px solid #f1e184;
    height: 500px;
    text-align: center;
}

.answerRes{
    margin: 36px;
    padding: 10px;
    font-size: 25px;
}
.correct, .wrong{
    padding: 15px;
}
.title{
    margin-top: 60px;
}
.restartBtn{
    width: 56.2%;
    align-items: center;
    position: fixed;
    bottom: auto;
    text-align: center;
    padding: 15px;
    margin: 10px 0;
}
.restartBtn button{
    font-size: 16px;
    width: 200px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
}