*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1f1f;

    /* 요소 중앙 정렬*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    width: 287px;
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
}
.calculator form{
    display: grid;
    grid-template-columns: repeat(4, 65px); /* 4열 각 65px */
    grid-auto-rows: 65px; /* 행의 높이 설정 */
    grid-gap: 5px;
}
.calculator form input{
    border: 2px solid #333;
    cursor: pointer;
}
.calculator form input:hover{
    box-shadow: 1px 1px 2px #333;
}
.calculator form .clear{
    background-color: #ed4848;
}
.calculator form .operator{
    background-color: orange;
}
.calculator form input[type='text']{
    grid-column: span 4; /* grid를 4칸을 부여*/
    text-align: right;
    padding-right: 10px;
}