@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
    background-color: #F8EFBA;
    font-family: 'NanumSquare';
}
ul li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;

}

.wrapper{
    min-height: 97dvh; /* 수직 가운데 정렬 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}
.main_container{
    margin: 15px;
    background-color: #b8e994;
    border-radius: 20px;
    align-items: center;
    height: 550px;
    width: 60%;
}
.title{
    text-align: center;
    font: 800 40px black;
}
.content{
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
.input-div{
    height: 400px;
}

/* 추가된 할 일 목록 */
.cont{
    align-items: center;
    margin-top: 20px;
    display: flex;
}

/* 할 일 완료 체크 */
input[type=checkbox]{
    display: none;
}
input[type="checkbox"] + label{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #9ac57b;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
input[type="checkbox"]:checked + label{
    border: 1px solid #9ac57b;
    width: 20px;
    height: 20px;
    left: 0;
    top:0;
    content: url("./img/checkbox.png");
}
/* 할 일 내용 */
.todo_cont{
    padding-top: 3px;
    font: 400 20px black;
}
/* 할 일 삭제 */
.del_todo_btn{
    padding: 0;
    margin-left: 12px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #b8e994;
    border: none;
    cursor: pointer;
}
.del_todo_btn img{
    width: 100%;
    height: 100%;
}


/* 할 일 등록 창 & 버튼 */
.input{
    height: 50px;
    width: 450px;
    border: 1px solid #9ac57b;
    margin-right: 5px;
    font-size: 20px;
    padding-left: 15px;
    
}
.input::placeholder{
    font: 300 20px lightgrey;
    font-style: italic;
    vertical-align: middle;
}
.add_todo_btn{
    border: 1px solid #9ac57b;
    padding: 12px;
    border-radius: 9px;
    background-color: #fff;
    height: 55px;
    width: 55px;
    align-items: center;
}
.add_todo_btn img{
    width: 100%;
    height: 100%;
}
.add_todo_btn:hover{
    border: 1px solid #9ac57b;
    box-shadow: 2px 2px 2px #9ac57b;
}






/* 보류 */
.list{
    padding: 25px;
    width: auto;
    height: 100%;
    position: relative;
}
.todo{
    width: 200px;
    height: 250px;
    border: 1px solid #9ac57b;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #9ac57b;
    float: left;
    position: relative;
    margin: 15px;
}
.todo p{
    margin: 15px;
    font: 600 20px black;
}
.todo ul li{
    margin-left: 10px;
}